{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>MusicMe</title>

  
  <link rel="stylesheet" href="{% static "playlist/css/foundation.css" %}" />
  <link rel="stylesheet" href="{% static "playlist/css/musicme.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "playlist/css/normalize.css" %}">

  <script src="{% static "playlist/js/vendor/custom.modernizr.js" %}"></script>
  <script type="text/javascript" src="{% static "playlist/js/vendor/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "playlist/js/musicme.js" %}"></script>
  
  <script type="text/javascript">

    $(document).ready(function(){

      var SONG_LIST = [];
      var UPVOTE_DELAY = 20000;

      // check if a dictionary is empty
      function isEmpty(dict) {
        for (var prop in dict) {
          if (dict.hasOwnProperty(prop)) {
            return false;
          }
          }
          return true;
      }

      // dictionary with key=songid, value=votecount
      var CACHED_VOTES = {}
      // refresh every minute
      var REFRESH_INTERVAL = 10000

      console.log("running");
      {% if song_list %}
        {% autoescape off %}
          SONG_LIST = {{song_list}};
          showList(SONG_LIST);
          // console.log(SONG_LIST);
        {% endautoescape %}
      {% else %}
        console.log("Error: could not load song list.");
      {% endif %}

      // timer to flush cache and refresh
      /*setInterval(function(){
        if (isEmpty(CACHED_VOTES) == false) {
          {% load update_cache %}
          //song_list = {{ CACHED_VOTES|update_votes }};
        }
        CACHED_VOTES = {};
        {% autoescape off %}
          showList({{ song_list }});
        {% endautoescape %}
      },REFRESH_INTERVAL);
    */
    function showList(list) {
      var html = "";
      list.sort(function(a,b) {
        if (a.votecount > b.votecount)
          return -1;
        if (a.votecount < b.votecount)
          return 1;
        return 0;
      });
      for(var i in list) {
        html += createPlaylistElement(list[i]);
        //console.log(html);
      }

      function changeVote(delta,id) {
        // for now, just update the vote count from the cache entirely on the front end
          for (var i in SONG_LIST) {
            //console.log(SONG_LIST[i].songid);
            if (SONG_LIST[i].songid == id) {
              SONG_LIST[i].votecount += delta;
              if (delta > 0) SONG_LIST[i].upbtndisable = "disable";
              else SONG_LIST[i].downbtndisable = "disable";
            }
          }
          clearList();
          showList(SONG_LIST);
          //loop through the list to see which song has been down voted and up voted, and disable that btn
          for (var i in SONG_LIST) {
            if (SONG_LIST[i].upbtndisable == "disable") {
                document.getElementById('up_'+SONG_LIST[i].songid).disabled = true;
            }
            if(SONG_LIST[i].downbtndisable == "disable"){
                document.getElementById('down_'+SONG_LIST[i].songid).disabled = true;
            } 
          }
      }

      $('#playlist').append(html);
      // event handler for click on upvote button
          $('.upvotebutton').click(function() {
            var prefix = "up_";
            var id = $(this).attr('id').substring(prefix.length);
            changeVote(1,id);
          });
          $('.downvotebutton').click(function() {
            var prefix = "down_";
            var id = $(this).attr('id').substring(prefix.length);
            changeVote(-1,id);
          })
    }

  })
  </script>

</head>
<body>
 <!-- Header and Nav -->

  <div class="row">
    <div class="large-6 columns end">
      <div class="panel">
        <h1>MusicMe</h1>
      </div>
    </div>
  </div>

  <!-- End Header and Nav -->


  <div class="row">



 <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <!-- <div class="large-3 columns ">
      <div class="panel">
        <a href="#"><img src="http://placehold.it/300x240&text=[img]" /></a>
        <h5><a href="#">Your Name</a></h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="title"><a href="#">Section 1</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 2</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 3</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 4</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 5</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 6</a></h5>
          </section>
        </div>

      </div>
    </div> -->
    
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div id="playlistarea" class="large-6 columns end">
      <div class="row">
        <div class="large-8 columns">
          <input id="songsearch" type="text" placeholder="Add a song to your playlist" />
        </div>
        <div class="large-4 columns">
          <a href="#" class="button small" css="float: left;">Submit</a>
        </div>
      </div>
      <div id="playlist">
      </div>
      
      
      

    </div>

    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <!-- <aside class="large-3 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside> -->

  </div>


  <!-- Footer -->

  <!-- <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->
</body>
</html>
