{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>MusicMe</title>

  
  <link rel="stylesheet" href="{% static "playlist/css/foundation.css" %}" />
  <link rel="stylesheet" href="{% static "playlist/css/musicme.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "playlist/css/normalize.css" %}">

  <script src="{% static "playlist/js/vendor/custom.modernizr.js" %}"></script>
  <script type="text/javascript" src="{% static "playlist/js/vendor/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "playlist/js/musicme.js" %}"></script>
  
  <script src="http://toma.hk/api.js?v=1"></script>

  <script type="text/javascript">

  </script>

</head>
<body>

 <!-- Header and Nav -->

  <div class="row">
    <div class="large-6 large-offset-3 columns end">
      <div class="panel">
        <h1 style="text-align: center; font-size: 3em;">MusicMe</h1>
      </div>
      <div class="introPage">
        <p id="intro"> Add introduction in the HTML.... dfd </p>
      <!--   <input id="existplaylist" value="Exist Playlist" type="button" class="button" style="width: 100%"/></input> -->
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
  <div class="row">

   <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div id="playlistarea" class="large-6 large-offset-3 columns end">
      <div class="row">
       <h2>Add a New Playlist</h2>
        <div class="large-9 columns">
         
          <form action="/api/addPlaylist/" method="post" id="addPlaylist">
            {% csrf_token %}
          <input type="text" placeholder="Create a new playlist" id="playlistName"  style="font-size: 1.25em;" name="playlistName"/>
        </div>
        <div class="large-3 columns">
          <!-- <a href="#" class="button small" css="float: left;">Submit</a> -->
           <input type="submit" value="Add" class="button small" style="font-size: 1.25em;"/>
         </form>

       </div>
     </div>

        <div class="row">
          <h2>Go to Existing Playlist</h2>

        <div class="large-9 columns">
        
          <form action="" method="post" id="goToPlaylist">
            {% csrf_token %}
          <input type="text" placeholder="Go to a playlist" id="goToPlaylists"  style="font-size: 1.25em;" name="goToPlaylist"/>
        <div id="playlistError" style="display:none">Playlist does not exist</div>
        </div>
        <div class="large-3 columns">
          <!-- <a href="#" class="button small" css="float: left;">Submit</a> -->
           <input type="submit" value="Go!" class="button small" style="font-size: 1.25em;"/>
         </form>

        

       </div>

        </div>


      </div>



</div>

</body>
</html>
