body{
	background-image: url('../img/px.png')
}

#playlistarea {
	float: left;
	text-align: center;
}

#playlist_video_area{
	margin-bottom: 10px;
}

.songinfo {
	float: left;
}

.upv {
	background-color: gray;
	border: green;
}

.downv {
	background-color: gray;
	border: red;
}

.songpanel{
	padding: .75em;
	position:	relative;
	border-radius: 3px;
}

#songsearch {
	font-size: 1.25em;
	border-radius: 3px;
}

#clickedEnter {
	font-size: 1.25em;
	left: -10px;
	border-radius: 3px;
}

#playPlaylistBtn {
	width:100%;
	display: block;
	top: -13px;
	font-size: 1.25em;
	border-radius: 3px;
}

#pausePlaylistBtn {
	width:100%;
	display: none;
	top: -13px; 
	font-size: 1.25em;
	border-radius: 3px;
}

#songInf {
	width: 70%;
	overflow: hidden;
}

#voteContainer{
	position: absolute;
	width: 80px;
	right: 10px;
	top: 9px;
	text-align: center;
}

#voteContainer #votes{
	font-size: 1em;
	padding-top: 4px;
	color: black;
	font-weight: bold;


}

#voteContainer .upvotebuttonContainer {
	float: right;
}

#voteContainer .downvotebuttonContainer {
	float: left;
}

#addedSongNotif {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #2284a1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

#addedSongNotifError {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: rgb(198, 15, 19);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

#playlistError {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: rgb(198, 15, 19);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

.searchResult{
	/*border: 1px solid black;*/
	margin: 2px;
	padding: 5px;
	background-color: #f2f2f2;
	border-radius: 2px;
	font-size: 13px;	
}


#songsearch {
	margin-bottom: 5px;
}

