#playlistarea {
	float: left;
}

.upvotebuttonContainer {
	float: right;
	margin-left: 5px;
}

.downvotebuttonContainer {
	float: right;
}

.songinfo {
	float: left;
}

.upv {
	background-color: gray;
	border: green;
}

.downv {
	background-color: gray;
	border: red;
}

.songpanel{
	padding: .75em;
}

#playPlaylistBtn {
	width:100%;
	display: block;
	padding-bottom: 10px;
}

#pausePlaylistBtn {
	width:100%;
	display: none;
}