#playlistarea {
	float: left;
}

.songinfo {
	float: left;
}

.upv {
	background-color: gray;
	border: green;
}

.downv {
	background-color: gray;
	border: red;
}

.songpanel{
	padding: .75em;
	position:	relative;
}

#playPlaylistBtn {
	width:100%;
	display: block;
	top: -13px;
}

#pausePlaylistBtn {
	width:100%;
	display: none;
	top: -13px; 
}

#voteContainer{
	position: absolute;
	width: 80px;
	right: 10px;
	top: 9px;
}

#voteContainer #votes{
	text-align: center;
	padding-left: 5px;
	font-size: 1.25em;
	padding-left: 9px; 
	color: black;

}

#voteContainer .upvotebuttonContainer {
	float: right;
}

#voteContainer .downvotebuttonContainer {
	float: left;
}
